# General / OS
.DS_Store
Thumbs.db
*.env
*.env.local
.idea
.claude
.vscode

# Node.js / Extension
node_modules/
dist/
src/generated/
*.vsix
npm-debug.log*
yarn-error.log

# Testbed
testbed/dist/
testbed/node_modules/
